.form {
    width: 400px;
    height: auto;
    background-color: #fff;
    color: #333333;
    border-radius: 10px;
    padding: 30px 40px 50px;
    text-align: left;
}
fieldset {
    border: none;
}

.field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}
.field label {
    font-size: 18px;
    margin: 0 0 5px 0px;
    font-weight: 500;
}

input {
    padding: 10px;
    border: 1px solid rgba(51,51,51,0.3);
    border-radius: 5px;
    width: 100%;
}
input[type=datetime-local] {
    color: #949494
}

.guestsdate {
    display: grid;
    grid-template-columns: 68% 28%;
    gap: 4%;
}

.occasion {
    display: flex;
    flex-direction: column;
}
.options {
    padding-right: 10px;
    border: 1px solid rgba(51,51,51,0.3);
    border-radius: 5px;
}

.error{
color: red;
font-size: 12px;
}

select {
    padding: 10px;
    outline: none;
    border: none;
    width: 100%;
    font-size: 15px;
    color: #949494;
}

.reserve-btn {
    width: 100%;
    padding: 20px;
    cursor: pointer;
    background-color: var(--darkgreen);
    border: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    color:#fff;
    transition: 0.3s;
}

.reserve-btn:hover{
    background-color: var(--yellow);
    color: var(--darkgreen);
    transition: 0.3s;
}

@media screen and (max-width: 1024px) {

    .form {
        width: 100%;
        margin-top: -50px
    }

    .guestsdate {
        display: flex;
        flex-direction: column;
    }
}