.reservationWrapper{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.42), rgba(0, 0, 0, 0.73)), url("https://a.cdn-hotels.com/gdcs/production141/d778/6b200721-9661-4680-aca2-d6e33ce46cf0.jpg");
    width: 100%;
    background-size: cover;
}

.reservationContainer{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 85%;
    gap: 100px;
    margin: 0 auto;
    padding: 80px 0;
}

.textSection{
    margin-top: 100px;
    color: white;
    width: 50%;
}

.textSection h2 {
    margin-bottom: 30px;
}

.textSection p {
    margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
    .reservationContainer {
        flex-direction: column;
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .textSection {
        width: 100%;
        margin-top: 50px;
    }

    .textSection p {
        margin-bottom: 0;
    }
}