@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');

:root{
    --darkgreen : #495E57;
    --yellow : #f4CE14;
}
*{
    margin: 0;
}
h3{
    font-size: 20px;
    font-weight: 500;
}
body{
    width: 1440px;
    height: 2900px;
    font-family: 'Karla', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 2fr 1fr;
}
.navbar{
    max-width: 887px;
    margin: 0 auto;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar ul{
    display: flex;
    gap: 20px;
    list-style: none;
}

.navItems li a{
   color: black;
   text-decoration: none;
   font-weight: 200;
   font-size: 20px;
}
.tag:hover{
    color: var(--yellow);
}
.footerSection{
    background-color: var(--darkgreen);
    height: 417px;
    width:1440px;
}
.mobile-menu-toggle {
    display: none; /* Hide the menu toggle button by default */
}

.footerContainer{
    max-width: 887px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;

}

.footerimage img{
    width: 162px;
    height: 279px;
   margin-top: 80px;
   border-radius: 16px;
}

.footerNavSection{
    display: flex;
    justify-items: center;
    gap: 30px;
}

.footerNav{
    max-width: 210px;
    display: grid;
    flex-direction: column;
    gap:20px;
}


.footerNavbar a{
    display: grid;
    gap:10px;
    flex-direction: column;
    justify-content: start;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.contact{
    max-width:210px ;
    display: grid;
    flex-direction: column;
    gap: 20px;
}

.contacts{
    display: grid;
    flex-direction: column;
    gap: 10px;
}


.socialmediaLinks{
    max-width: 210px;
}
.socialmediaIcons{
   margin-top: 30px;
    display: flex;
    gap: 10px;
    font-size: 20px;
    cursor: pointer;
}
.fb :hover{
    color: #3b5998 ;
}
.insta :hover{
    color: #cd486b ;
}
.linkedIn :hover{
    color: #0A66C2;
}
.gitHub :hover{
    color: #2b3137;
}

@media screen and (max-width: 768px) {
    h3{
        font-size: 15px;
        font-weight: 500;
    }
    p{
        font-size: 10px;
    }
    .mobile-menu-toggle {
        display: block; /* Display the menu toggle button for smaller screens */
        color: red;
    }

    .navbar ul {
        display: none; /* Hide the navigation menu by default on smaller screens */
    }

    .navbar ul.active {
        display: flex; /* Display the navigation menu when active */
        flex-direction: column;
        background-color:white; /* Set background color for mobile menu */
        position: absolute;
        top: 72px; /* Adjust top position as needed */
        left: 380px;
        width: 50%;
        padding: 16px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow for the mobile menu */
    }

    .navbar ul li {
        margin-bottom: 10px; /* Adjust spacing between menu items */
    }
    .tag:hover{
        color: var(--yellow);
    }

    .footerContainer{
        width: 100%;
        gap: 10px;
        display: grid;
        flex-direction: column;
        margin: 0 auto;
        justify-content: space-evenly;
        align-items: center;
    }

    .footerimage img{
        width: 80px;
        height: 120px;
       border-radius: 16px;
    }
    .socialmediaIcons{
        margin-top: 30px;
         display: grid;
         flex-direction: column;
         gap: 10px;
         font-size: 20px;
         cursor: pointer;
     }

}