@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');

:root{
    --darkgreen : #495E57;
    --yellow : #f4CE14;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body {
    font-family: 'Karla', sans-serif;
    font-size: 16pt;
    color: #333333;
  }
h3{
    font-size: 20px;
    font-weight: 500;
}
 /* Starting of Nava section */


.tag{
    text-decoration: none
}
.tag:hover{
    color: var(--yellow);
    ;
}


.highlightsSection{
    height: 670px;
    width: 100%;
}

.testimonialsSection{
    height: 590px;
    width: 100%;
}

.about{
    height: 468px;
    width: 100%;
}





